html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000000;
}



.navbar-default .navbar-brand {
    color: rgb(0, 0, 0);
}

#start-btn{
    color: rgb(0, 0, 0);
    background-color: #c5ebff;
    border-color: #c5ebff;
    font-size: 18px;

    display: inline-block;
    padding: 12px 40px;
    margin-bottom: 4px;
    margin-top: 5px;
    font-weight: 400;

    text-align: center;
    height: 41px;
    border-radius: 25px;
}

#start-btn:hover{
    background-color: #296294;
    border-color: #296294;
}

.main{
    margin-top: -20px;
}
div {
    display: block;
}

.div1,.div3{
    background-color: #eee
}

.jumbotron h1{
    margin-bottom: 50px;
}
.jumbotron h2{
    margin-bottom: 30px;
}

#my-form{
    padding-top: 20px;
    padding-bottom: 20px;
}

#my-form:hover{
    -moz-box-shadow:0px 0px 13px #333333; 
    -webkit-box-shadow:0px 0px 13px #333333;
    box-shadow:0px 0px 13px #333333;
}
#form-btn-div{
    text-align: center;
}
.radio{
    margin-top: 0px;
}

.label-star{
    color: red;
}


/* 导航栏颜色 */
.navbar{
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}


/* 轮播高度 */

/* 轮播按钮调整 */
.carousel-control.left,.carousel-control.right{
    background-image: none;
}
.carousel-control{
    background: transparent;
    width: 5%;
}
.carousel-control:hover{
    background: transparent;
}


.carousel-control.left .glyphicon {
    margin-left: -6rem;
    color: #ccc;
}

.carousel-control.right .glyphicon {
    margin-right: -6rem;
    color: #ccc;
}