{% extends 'backend/base.html' %}

{% load staticfiles %}

{% block title %}管理后台{% endblock %}
{% block external_header %}

{% endblock %}
{% block body %}

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">照片信息</h1>
        {%if is_device == 1%}
        <ul class="nav nav-tabs">
          {% for device in devices %}
            <li role="presentation" id = "device{{device.id}}"><a href="/manage/0/?device={{device.id}}">{{device.name}}</a></li>
          {% endfor %}
        </ul>
        
        <ul class="nav nav-tabs">
          {% for c in co %}
            <li role="presentation" id = {{c}}><a href="/manage/0/?device={{device_id}}&&co_id={{c}}">{{c}}</a></li>
          {% endfor %}
        </ul>
        <form class="form-inline" style="margin-top: 5px;"> 
          <div class="form-group">
            <label for="co-num">上传至co</label>
            <input type="text" class="form-control" id="co-num" placeholder="填写数字">
          </div>
          <div class="form-group">
            <input id = 'fileupload' name = 'file' type="file" accept=".zip" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
          </div>
          <button id = "btn-form" type="submit" class="btn btn-default" >上传</button>
        </form>

        

        <div class = "container">
          <div class="row" style="margin-top: 20px;">
          {% for img,index,index_ in imgs %}
          

            <div class = "col-sm-2" style = "text-align: center;">
              <a href="/manage/0/full_img/?device={{device_id}}&&co_id={{co_id}}&&img_num={{index_}}">
                <img src = "{%static ''%}{{img}}">
              </a>
              <div>{{index_}}</div>
            </div>

            {% if index  == 1 %}
            </div>
            <div class="row" style="margin-top: 20px;">
            {% endif %}
          
          
          {% endfor %}
          </div>
        </div>
        {% else%}
        <div>暂无照片</div>
        {%endif%}
        

        <h1 class="page-header">设备信息</h1>

        <form class="form-inline" method = "GET" action = "/manage/0/add_device/">
            <div class="form-group">
              <input type="text" class="form-control" name="name" placeholder="型号">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="resolution" placeholder="分辨率">
            </div>
            <button id = "btn-form" type="submit" class="btn btn-primary">增加设备信息</button>
        </form>


        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>设备id</th>
                <th>型号</th>
                <th>分辨率</th>
              </tr>
            </thead>
            <tbody>
                {% for device in devices %}
              <tr>
                <td>{{ device.id }}</td>

                
                <td>{{ device.name }}</td>
                <td>{{ device.resolution }}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>

        
      </div>




{% endblock %}

{% block external_js %}
<script>$("#manage_0").addClass("active");$("#device{{device_id}}").addClass("active");$("#{{co_id}}").addClass("active")</script>
<script>
  var xhrOnProgress=function(fun) {
      xhrOnProgress.onprogress = fun; //绑定监听
      //使用闭包实现监听绑
      return function() {
        //通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
        var xhr = $.ajaxSettings.xhr();
        //判断监听函数是否为函数
        if (typeof xhrOnProgress.onprogress !== 'function')
          return xhr;
        //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
        if (xhrOnProgress.onprogress && xhr.upload) {
          xhr.upload.onprogress = xhrOnProgress.onprogress;
        }
        return xhr;
      }
}
  $('#btn-form').click(function(e){
    e.preventDefault();
  
    var formdata = new FormData();
    var files = $('#fileupload')[0].files[0];   // 文件list
    var text = $('#co-num').val();
    if(!files){
        alert('请选择文件上传！')
        return
    }
    if(!text){
        alert('请填写数字！')
        return
    }
    formdata.append('file',files);
    formdata.append('num',text)
    var html = '<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>';
    showModal('正在上传', html);
    var myajax = $.getJSON('/manage/0/process/?status=0', function(msg){});

    $.when(myajax).done(function () {
          //要执行的操作

    var sitv = setInterval(function(){

    var prog_url = '{% url "process" %}?status=1'              // prog_url指请求进度的url，后面会在django中设置
    $.getJSON(prog_url, function(msg){
      //console.log(msg);
      if(msg.status == 1){
        $('.modal-title').html('正在处理');
        $(".progress-bar").css('width', msg.process+'%');
        $('.progress-bar').text(msg.text);
        if(msg.process == 100){
          clearInterval(sitv);
          $('.progress-bar').css('width', '100%');   
          $('.progress-bar').text('100%');
        }
      }
    });


    }, 100);                                 // 每10毫秒查询一次后台进度

    $.ajax({
        url:'{% url "upload" %}',
        type:'POST',
        cache: false,
        data: formdata,
        processData: false,
        contentType: false,
        success:function (data) {
            if(data.status){
              $('.modal-title').html('成功，请刷新页面！');
            }else{
              alert(data.msg)
            }
        },
        xhr:xhrOnProgress(function(e){
                      var progress=parseInt(e.loaded/e.total * 100, 10);//文件上传百分比
                      var strProgress = progress + "%";
                      $('.progress-bar').css('width', strProgress);   
                      $('.progress-bar').text(strProgress);
                   }),
    })
  });
  })
</script>
{% endblock %}