{% extends 'backend/base.html' %}

{% load staticfiles %}

{% block title %}管理后台{% endblock %}
{% block external_header %}
<style>
.td-info{
  width: 30%;
  text-align: right;
}


</style>
{% endblock %}
{% block body %}

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">实验列表 <a id = "newlab"href = "#" style="font-size: large;" title="新增实验"><span class="glyphicon glyphicon-plus"></span></a></h1>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>实验id</th>
                <th>已有参与者</th>
                <th>有效评价数</th>
                <th>状态</th>

                <th>操作</th>
              </tr>
            </thead>
            <tbody>
                {% for lab in labs %}
              <tr>
                <td>{{ lab.id }}</td>
                <td>{{ lab.user_num }}</td>
                <td>{{ lab.record_num }}</td>
                {% if is_start == 1 %}
                  {% if lab.status == 1 %}
                  <td>开展中</td>
                  <td><a href="/manage/5/update_status/{{ lab.id }}/" class=" btn-sm btn-danger" role="button" >开始/停止</a>
                  {% else %}
                  <td>无</td>
                  <td><a href="#" class="btn-sm btn-danger" role="button" onclick="tips()">开始/停止</a>
                  {% endif %}
                {% else %}
                <td>无</td>
                <td><a href="/manage/5/update_status/{{ lab.id }}/" class="btn-sm btn-danger" role="button">开始/停止</a>
                {% endif %}
                <a href="/manage/5/delete/{{ lab.id }}/" class="btn-sm btn-danger" role="button">删除</a>
              <a href="#" class = "lab-info" dest={{lab.id}}><span class="glyphicon glyphicon-question-sign"></span></a></td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        
        <div class="modal" id="myModal-newlab" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增实验</h4>
              </div>
              <div class="modal-body">
                <table class = "table table-bordered">
            
                  <tbody>
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">评价数量：</td>
      
                      <td >
                        <form class="form-inline">
                          <div class="form-group">
                            <label for="exampleInputName2"><a href="#" id = "num1" style="display: inline;"><span class = "glyphicon glyphicon-chevron-left"></span></a></label>
                            <input type="text" class="form-control" id="new-num" value="60" style="width: 50px;">
                            <label for="exampleInputName2"><a href="#" id = "num2" style="display: inline;"><span class = "glyphicon glyphicon-chevron-right"></span></a></label>
                          </div>
                        </form>
                      </td>
                      
                    </tr>
                    
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">比较内容：</td>
                      <td >
                        <select id="lab-func" class="form-control">
                          <option value="1">不同设备相同场景</option>
                          <option value="2">相同设备不同场景</option>
                        </select>
                      </td>
                    </tr>
                    
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">设备集：</td>
      
                      <td>
                        {% for device in devices %}
                        <label class="checkbox-inline" style="margin-left: 10px;">
                          <input class= "devices-check"type="checkbox" name="devices" value={{device.id}}>D{{device.id}}
                        </label>
                        {% endfor %}
                        
                      </td>
                    </tr>
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">照片集：</td>
      
                      <td id="co-td">
                        {% for co in co_list %}
                        <label class="checkbox-inline" id="co{{co}}" style="margin-left: 10px;display: none;">
                          <input type="checkbox" name="co-list"  value={{co}}>CO{{co}}
                        </label>
                        {% endfor %}
                      </td>
                    </tr>
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">定时任务：</td>
      
                      <td>
                        
                          <label class="radio-inline">
                            <input type="radio" name="time"  value="1"> 是
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="time" value="0"> 否
                          </label>
                        
                      </td>
                      
                    </tr>
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">起止时间：</td>
      
                      <td>
                        
                        <select id="time-start" class="form-control" style="width: 65px;display: inline;">
                          <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option>
                          <option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
                          <option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option>
                          <option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                        </select>
                        时
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <select id="time-stop" class="form-control" style="width: 65px;display: inline;">
                          <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option>
                          <option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
                          <option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option>
                          <option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                        </select>
                        时
                      </td>  
                    </tr>   
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button id = "btn-form-newlab" class="btn btn-primary" >确定</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="myModal-lab-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">实验信息</h4>
              </div>
              <div class="modal-body">
                <table class = "table table-bordered">
            
                  <tbody>
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">评价数量：</td>
      
                      <td id ="info-1">
                        
                      </td>
                      
                    </tr>
                    
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">比较内容：</td>
                      <td id ="info-2">
                        
                      </td>
                    </tr>
                    
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">设备集：</td>
      
                      <td id ="info-3">

                      </td>
                    </tr>
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">照片集：</td>
      
                      <td id ="info-4">
        
                      </td>
                    </tr>
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">定时任务：</td>
      
                      <td id ="info-5">
                                                
                      </td>
                      
                    </tr>
                    <tr>
                      <td class = "td-info" style="vertical-align:middle;">起止时间：</td>
      
                      <td id ="info-6">
                        
                      </td>  
                    </tr>   
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive" style="display: flex;justify-content: center;align-items: center;">
          

        </div>
       
      </div>




{% endblock %}

{% block external_js %}
<script>$("#manage_5").addClass("active")</script>
<script>
 
  function tips(){
    showModal('提示','只能同时开展一个实验！');
  }
  $("#newlab").click(function(){
    $("#myModal-newlab").modal();
  })
  $("#num1").click(function(){
    var num_now = parseInt($("#new-num").val());
    if(num_now>0){
      $("#new-num").val(num_now-1);
    }
  })
  $("#num2").click(function(){
    var num_now = parseInt($("#new-num").val());
    $("#new-num").val(num_now+1);
  })
  $(".devices-check").change(function() {
    var devices = $("input:checkbox[name='devices']:checked").map(function(index,elem) {
            return $(elem).val();
        }).get().join(',');
    $.ajax({
        type:"get",
        url:"/manage/5/get_co_list/",
        //async : false,
        data:{"devices":devices},
        dataType:"json",
        success:function(msg){
            if(msg.state=='fail'){
                alert("!");
            }
            else{
              $("#co-td").children().each(function(item){
                $(this).css('display','none');
              });
              if(msg.co_new){
                msg.co_new.forEach(function(item){
                //alert(item);
                var id = "#co"+item;
                
                //alert(id);
                $(id).css('display','inline-block');
              });
              }
            }
        },
        error: function(e){
            alert(e.responseText);
        }

    })
});

  
</script>
<script>
   $("#btn-form-newlab").click(function(){
    var num = $("#new-num").val();
    var func = $("#lab-func option:selected").val();
    var time = $("[name = 'time']:checked").val();
    var time_start = $("#time-start option:selected").val();
    var time_stop = $("#time-stop option:selected").val();
    var devices = $("input:checkbox[name='devices']:checked").map(function(index,elem) {
            return $(elem).val();
        }).get().join(',');
    var co_list = $("input:checkbox[name='co-list']:checked").map(function(index,elem) {
        return $(elem).val();
    }).get().join(',');

    
    if(num && func && time  && devices && co_list){
        if(time==1){
          if(parseInt(time_start)>=parseInt(time_stop)){
            alert("起止时间输入有误！");
            return
          }
        }
            
        $.ajax({
            type:"post",
            url:"/manage/5/new_lab/",
            //async : false,
            data:{"num":num, "func":func, "time":time, "time_start":time_start, "time_stop":time_stop, "devices":devices,"co_list":co_list},
            dataType:"json",
            success:function(msg){
                if(msg.state=='fail'){
                    alert("!");
                }
                else{
                  window.location.reload();
                }
            },
            error: function(e){
                alert(e.responseText);
            }

        })
        
    }
    else{
        alert("请将必填项填写完整");
    }
    
  })
  
</script>
<script>
  $(".lab-info").click(function(){
    var a = $(this).attr("dest");
    $.ajax({
            type:"get",
            url:"/manage/5/lab_info/",
            //async : false,
            data:{"lab_num":a},
            dataType:"json",
            success:function(msg){
                if(msg.state=='fail'){
                    alert("!");
                }
                else{
                  $("#info-1").html(msg.num);
                  if(msg.func==1)
                  {
                    $("#info-2").html('不同设备相同场景');
                  }
                  else{
                    $("#info-2").html('相同设备不同场景');
                  }
                  $("#info-3").html(msg.devices);
                  $("#info-4").html(msg.co);
                  if(msg.time)
                  {
                    $("#info-5").html('是');
                    $("#info-6").html(msg.time);
                  }
                  else{
                    $("#info-5").html('否');
                  }
                  $("#myModal-lab-info").modal();
                }
            },
            error: function(e){
                alert(e.responseText);
            }

        })
  })
  
</script>
{% endblock %}