{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
    
   
</head>
<script>var static_root = "{% static '' %}"</script>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">拍摄质量评价</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="http://gr.xjtu.edu.cn/en/web/xqmou/iqa" target="_blank" >About</a></li>
            <li><a href="#my-footer">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a  id = "start-btn" href="#start" role="button">Start Now!</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="main">
      <div class="div1">
        <div class="container">
          <h1 id = "my-h1"><strong>About us</strong></h1>
          <div class = "row">
            <div class = "col-md-7 col-sm-7 col-xs-7" id = "my-maincontent">
            
              <div class="my-homepage">
                  
                  <h3>随手拍照已经成为人们生活中的重要组成部分。</h3>
                  <p>图像所正在研究一个针对摄影器材的主观拍摄质量的评价方法，并且尝试提供市场上主流手机的拍摄质量评价排名。</p>
                  <p>而这项工作的研究基础是构建手机拍摄照片质量<strong>主观评价数据库</strong>。我们制作了该网站开展心理学实验以获取图像主观评价数据。</p>
                  <p><span class="glyphicon glyphicon-menu-down"></span>照片质量主观评价数据库有如下用途。</p>
              </div>
            </div>
            
            <div class = "col-md-5 col-sm-5 col-xs-5" id = "my-img">
              <img src = "{% static 'takePhoto.png' %}" style = "width: 100%;">
            </div>
          </div>
        </div>
      </div>

      <div class="div2">
        <div class = "container">
          <div class = "row" >
            <div class = "col-sm-3" style = "margin-left: 4%;">
              <div class = "my-content-style">
                <h4>研究图像质量评价算法</h4>
                <p>基于一个具有一定规模的图像质量评价数据库，可以更加充分的了解人眼视觉系统与图像质量之间的关系，帮助领域内的相关人员更好的研究图像质量算法，从而不断地改善现实生活中的图像质量。</p>
              </div>
              
            </div>
            <div class = "col-sm-3 col-sm-offset-1">

              <img src = "{% static 'ai.png' %}" style = "width: 100%;">
            </div>
            <div class = "col-sm-3 col-sm-offset-1">
              <div class = "my-content-style">
                <h4>评价算法性能</h4>
                <p>通过组织主观实验获取图像的主观质量，从而可以利用主客观质量的一致性来判断客观评价算法的性能。同时主观质量评价数据库可以作为基于机器学习的图像质量算法的训练数据。</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    

      <div class = "div3" id = "start">
        <div class = "container">
          <div class = "row">
            <div class="col-sm-8">
              <div class = "my-tips-style">
                <p class = "tips-h">如何参与？</p>
                <p>1.请您填写右侧的个人信息以帮助我们此次主观实验的信息采集，我们保证只会将其用于后续模型研究之中。</p>
                <p>2.<span class = "label-star">填写完成后</span>点击问卷下方按钮，您将<span class = "label-star">自动跳转</span>到实验平台。</p>
                <p>3.进入平台后将有操作指引您完成实验。建议您进入平台前将<span class = "label-star">浏览器最大化</span>。</p>
                <p>4.若您不小心关闭实验平台，可以通过再次访问此页面恢复进程。</p>
              </div>
              <div class = "my-tips-style">
                <p class = "tips-h">关于实验开展方式</p>
                <p>1.针对本次图像主观评价实验，我们采用<span class = "label-star">两两比较</span>的方法以尽可能减少各种因素的干扰。</p>
                <p>2.对于每一组图片，您只需要选择您认为更好的一张图。</p>
                <p>3.评价的标准包括但不限于：照片的分辨率，色调真实度。但请您尽量关注于<span class = "label-star">照片本身质量</span>而不是图片内容。</p>
              </div>

            </div>
            <div class="col-sm-3">
              <div id = "my-form-wrapper">

              
                <div id = "my-form">
                  <div class="form-group">
                    <label>1.您的性别<span class = "label-star">*</span></label> 
                    <div class="radio">
                    <label class="radio-inline">
                      <input type="radio" name="gender"  value="1"> 男
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="gender" value="2"> 女
                    </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>2.您的年龄范围<span class = "label-star">*</span></label> 
                    <div class="radio">
                      <label>
                        <input type="radio" name="age"  value="1"> 1-20岁
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="age"  value="2"> 20-30岁
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="age"  value="3"> 30-50岁
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="age"  value="4"> 50岁以上
                      </label>
                    </div>
                  </div>


                  <div class="form-group">
                    <label>3.您是否经常戴眼镜<span class = "label-star">*</span></label> 
                    <div class="radio">
                      <label class="radio-inline">
                        <input type="radio" name="isGlasses" value="1"> 是
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="isGlasses" value="2"> 否
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>4.您的受教育程度<span class = "label-star">*</span></label> 
                    <div class="radio">
                      <label>
                        <input type="radio" name="edu" value="1"> 高中及以下
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="edu" value="2"> 大学本科或专科
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="edu"  value="3"> 研究生
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="edu"  value="4"> 博士及以上
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>5.您是否有一定的拍摄习惯<span class = "label-star">*</span></label> 
                    <div class="radio">
                      <label>
                        <input type="radio" name="pho"  value="1"> 经常
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="pho"  value="2"> 一般
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="pho"  value="3"> 很少
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="pho"  value="4"> 几乎没有
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="screen">6.您使用的笔记本或显示器品牌</label>
                    <input type="text" class="form-control" id="screen" placeholder="非必填">
                  </div>




                  <div class="form-group" id = "form-btn-div">
                    <button id = "form-btn" class="btn btn-default">Submit</button>
                  </div>
                </div>
                
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
  
    <footer class="footer">
      <div class="container">
        <div id = "my-footer">
          <div>Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a> <a href="https://www.bootcss.com/" target="_blank">Bootstrap</a></div>
          <div><span class="glyphicon glyphicon-map-marker"> </span> 陕西省西安市碑林区西安交通大学</div>
          <div><span class="glyphicon glyphicon-envelope"> </span> 1176688537@qq.com</div>
        </div>
        
      </div>
    </footer>

    
    {% include 'wesite/modal.html' %}

</body>

</html>

