{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>手机拍摄质量主观评价平台</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/inc/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <script src="{% static 'js/inc/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/inc/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inc/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
    <style>
      @keyframes highlight {
  0% {}
  50% {background-color: rgb(255, 255, 255);}
  100% {}
}

    </style>
   
</head>
<script>var static_root = "{% static '' %}"</script>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">拍摄质量评价</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="http://gr.xjtu.edu.cn/en/web/xqmou/iqa" target="_blank">About</a></li>
            <li><a href="#my-footer" dest="footer" class="a-for-highlight">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a  id = "start-btn" href="#start" role="button" dest="div3" class="a-for-highlight">Start Now!</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="main">
      {% if after == 1%}
      <div class="div0">
        <div class="container">
          <div id = "my-table">
            <div id = "head-for-table">
              <h1>感谢您的参与！</h1>
            </div>
            
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class = "my-col" >编号</th>
                    <th>排名</th>
                  </tr>
                </thead>
                <tbody>
                {% for rank in ranks %}
                  <tr>
                    <td class = "my-col">{{ rank.0 }}</td>
                    <td><div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" {{rank.1}} >
                          {{rank.2}}
                        </div>
                      </div>
                    </td>

                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>

            <h4><span class = "glyphicon glyphicon-star"></span>以上是根据截至目前所有参与者数据生成的实时手机排名</h4>
            <p>ps:当前手机型号还比较少，期待您的加入！</p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="div1">
        <div class="container">
          <h1 id = "my-h1"><strong>About us</strong></h1>
          <div class = "row">
            <div class = "col-sm-7" id = "my-maincontent">
            
              <div class="my-homepage">
                  
                  <h3>随手拍照已经成为人们生活中的重要组成部分。</h3>
                  <p>图像所正在研究一个针对摄影器材的主观拍摄质量的评价方法，并且尝试提供市场上主流手机的拍摄质量评价排名。</p>
                  <p>而这项工作的研究基础是构建手机拍摄照片质量<strong>主观评价数据库</strong>，因此我们制作了该网站开展心理学实验以获取图像主观评价数据。</p>
                  <p><span class="glyphicon glyphicon-menu-down"></span>照片质量主观评价数据库有如下用途。</p>
              </div>
            </div>
            
            <div class = "col-sm-5" id = "my-img">
              <img src = "{% static 'takePhoto.png' %}" style = "width: 100%;">
            </div>
          </div>
        </div>
      </div>

      <div class="div2">
        <div class = "container">
          <div class = "row" >
            <div class = "col-sm-3" style = "margin-left: 4%;">
              <div class = "my-content-style">
                <h4>研究图像质量评价算法</h4>
                <p>基于具有一定规模的图像质量评价数据库，我们可以更加充分地了解人眼视觉系统与图像质量之间的关系，帮助领域内的相关人员更好地研究图像质量算法，从而不断地改善现实生活中的图像质量。</p>
              </div>
              
            </div>
            <div class = "col-sm-3 col-sm-offset-1">

              <img src = "{% static 'ai.png' %}" style = "width: 100%;">
            </div>
            <div class = "col-sm-3 col-sm-offset-1">
              <div class = "my-content-style">
                <h4>评价算法性能</h4>
                <p>通过组织主观实验获取的图像主观质量，可以用来与评价算法的评价结果进行对比，以判断算法的性能。同时主观质量评价数据库可以作为基于机器学习的图像质量算法的训练数据。</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    

      <div class = "div3" id = "start">
        <div class = "container">
          <div class = "row">
            <div class="col-sm-8">
              <div class = "my-tips-style">
                <p class = "tips-h">如何参与？</p>
                <p>1.请您填写右侧的个人信息以帮助我们此次主观实验的信息采集，我们保证只会将其用于后续模型研究之中。</p>
                <p>2.<span class = "label-star">填写完成后</span>点击问卷下方按钮，您将获得一个<span class = "label-star">验证码</span>。</p>
                <p>3.点进网页右上角<span class = "label-star">Start Now</span>按钮，输入验证码后即可进入实验平台。<span class = "label-star">请您进入平台前将浏览器最大化并不再变动。</span></p>
                <p>4.若您不小心关闭实验平台，可以通过验证码重新登入并恢复进程。</p>
              </div>
              <div class = "my-tips-style">
                <p class = "tips-h">关于实验开展方式</p>
                <p>1.针对本次图像主观评价实验，我们采用<span class = "label-star">两两比较</span>的方法以尽可能减少各种因素的干扰。</p>
                <p>2.前面部分为<span class = "label-star">相同</span>场景对比，后面部分为<span class = "label-star">不同</span>场景对比。</p>
                <p>3.评价的标准包括但不限于：照片的分辨率，色调真实度。但请您尽量关注于<span class = "label-star">照片本身质量</span>而不是照片内容。</p>
              </div>

            </div>
            <div class="col-sm-3">
              <div id = "my-form-wrapper" >
                <div id = "my-tips" style = "display: none;text-align: center;color: red;"></div>
                <div id = "my-loading" style = "display: none;text-align: center;"><img src = "{% static '3.gif' %}" style = "height: 100%;max-width: 100%;" ></div>
                <div id = "my-loading-after" style = "display: none;text-align: center;margin-top: 100px;">
                  <div>您的验证码是：</div>
                  <div id = "my-yanzhengma"></div>
                  <div>复制后点击页面右上角"Start Now"按钮进入实验平台</div>
                </div>
                <div id = "my-form">
                  <div class="form-group">
                    <label>1.您的性别<span class = "label-star">*</span></label> 
                    <div class="radio">
                    <label class="radio-inline">
                      <input type="radio" name="gender"  value="1"> 男
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="gender" value="2"> 女
                    </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>2.您的年龄范围<span class = "label-star">*</span></label> 
                    <div class="radio">
                      <label>
                        <input type="radio" name="age"  value="1"> 1-20岁
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="age"  value="2"> 20-30岁
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="age"  value="3"> 30-50岁
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="age"  value="4"> 50岁以上
                      </label>
                    </div>
                  </div>


                  <div class="form-group">
                    <label>3.您是否经常戴眼镜<span class = "label-star">*</span></label> 
                    <div class="radio">
                      <label class="radio-inline">
                        <input type="radio" name="isGlasses" value="1"> 是
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="isGlasses" value="2"> 否
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>4.您的受教育程度<span class = "label-star">*</span></label> 
                    <div class="radio">
                      <label>
                        <input type="radio" name="edu" value="1"> 高中及以下
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="edu" value="2"> 大学本科或专科
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="edu"  value="3"> 研究生
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="edu"  value="4"> 博士及以上
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>5.您是否有一定的拍摄习惯<span class = "label-star">*</span></label> 
                    <div class="radio">
                      <label>
                        <input type="radio" name="pho"  value="1"> 经常
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="pho"  value="2"> 一般
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="pho"  value="3"> 很少
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="pho"  value="4"> 几乎没有
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="screen">6.您使用的笔记本或显示器品牌</label>
                    <input type="text" class="form-control" id="screen" placeholder="非必填">
                  </div>

                  <div class="form-group" id = "form-btn-div">
                    <button id = "form-btn" class="btn btn-default">Submit</button>
                  </div>
                </div>
                
              </div> 
            </div>
          </div>
        </div>
      </div>

    </div> <!-- /container -->
  
    <footer class="footer">
      <div class="container">
        <div id = "my-footer">
          <div>Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a> <a href="https://www.bootcss.com/" target="_blank">Bootstrap</a></div>
          <div><span class="glyphicon glyphicon-map-marker"> </span> 陕西省西安市碑林区西安交通大学</div>
          <div><span class="glyphicon glyphicon-envelope"> </span> 1176688537@qq.com</div>
        </div>
        
      </div>
    </footer>

    
    {% include 'modal.html' %}
<script>var is_start = "{{is_start}}"</script>
<script>
  $(".footer").on("animationend",function(){
        $(this).css("animation","");
    });
  $(".div3").on("animationend",function(){
      $(this).css("animation","");
  });
  $(".a-for-highlight").click(function(){
    id = $(this).attr('dest');
    //alert(id);
    $("."+id).css("animation", "highlight 2s");
    
    
  });
</script>
</body>

</html>