{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>验证界面</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body>
    <div id="login">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend id="word">请输入验证码</legend>
                <input id="input1" type="text" name="u">
                <button  class="but" type="submit">确定</button>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript">{{script}}('{{wrong}}')</script>
</body>

</html>